
#PlayerGap {
    height: width-percentage(56.25%);
    background-color: #000;
}
#PlayerName {
    vertical-align: bottom;
    horizontal-align: center;
    padding: 2px 0;
    height: 14px;
    font-size: 12;
    color: #cccccc;
    text-overflow: clip;
}
#CaptainMark {
    padding: 5px;
    font-size: 12;
    font-weight: bold;
    color: #ff666680;
}

#_ability_list{
    flow-children: right;
    padding-left:  8%;
    padding-top:   10%;
    horizontal-align: left;
    width:  100%;
}


#Talent_list {
    flow-children: right-wrap;
    width: 100%;
    height: 100%;

}
#Talent_list Button {
    max-width: 55px; 
    width: 100%;
    height: 55px;
    margin: 6px;
	vertical-align: top;	
}
#Talent_list Button:hover {
	transform: translatey( -2px);
	brightness: 0.8;
}

#Talent_list Button:disabled DOTAAbilityImage {
    saturation: 0;
}

#Talent_list Label {
    vertical-align: bottom;
    text-align:center;
    horizontal-align: right;
    background-color:black;
    font-weight: bold;
    font-size: 14;
    text-shadow: 0px 0px 0px #FF7500;
    width: 22%;
    height: 25%;
    color: #EACD71;
    font-family: Radiance;

}

Button:enabled DOTAAbilityImage:hover
{
    box-shadow: inset #ffffff80 2px 2px 0px 4px;
    color: #FFF;
    background-color: #000000FF;
}

Button:enabled DOTAAbilityImage:active
{
    padding-bottom:9px;
    padding-left:10px;
    padding-right:10px;
    padding-top:11px;
}

.notEnoughDark
{
    wash-color :#ffb3a7;
    brightness: 0.2;
}

.BuyAbility
{
   saturation: 0.5;
}